@import "tailwindcss";
body{
  background-color: #f5f5f5;
}
/* ._main{
  background-color: #f5f5f5;
} */
/* .conversation{
  background-color: #141414;
} */
/* .chat-bar{
  background-color: #282828;
} */
.conversation-list{
  

}